@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: black;
  color: white;
}

.border {
  border: 2px solid red;
}
.flex {
  display: flex;
}
.left {
  width: 25vw;
  padding: 14px;
}
.right {
  width: 75vw;
}

.home ul li {
  display: flex;
  gap: 15px;
  width: 14px;
  list-style: none;
  align-items: center;
  padding-top: 14px;
  font-weight: bold;
}
.heading {
  display: flex;
  gap: 15px;
  padding-top: 14px;
  padding-left: 23px 14px;
  font-weight: bold;
  align-items: center;
  width: 100%;
  font-size: 13px;
}
.heading img {
  width: 30px;
}
.library {
  min-height: 80vh;
  position: relative;
}
.footer {
  display: flex;
  font-size: 10px;
  color: grey;
  gap: 13px;
  position: absolute;
  bottom: 0;
}
.right {
  margin: 16px 0;
}
.footer a {
  color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  background-color: rgb(34 34 34);
}
.header * {
  padding: 4px;
}
.spotifyPlaylists {
  padding: 16px 0;
}
.cardContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 30px;
  overflow-y: auto;
  max-height: 70vh;
  justify-content: center;
}
.card {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
  position: relative;
}
.card > * {
  padding-top: 10px;
}
.card img {
  object-fit: contain;
  width: 100%;
}
.play {
  width: 28px;
  height: 28px;
  background-color: #00ff00;
  border-radius: 50%;
  padding: 4px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 268px;
  margin-left: 140px;
}
.buttons > * {
  margin: 0 12px;
}
.signupbtn {
  background-color: silver;
  color: black ;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}
.signupbtn:hover {
  font-size: 1.1rem;
  color: white;
}
.loginbtn {
  background-color: white;
  border-radius: 21px;
  color: black;
  padding: 10px;
  width: 70px;
  cursor: pointer;
}
.loginbtn:hover {
  padding: 10px 14px;
  width: 80px;
}

.playbar {
  position: fixed;
  bottom: 30px;
  background-color: #e3d9d9;
  width: 90%;
  filter: invert(1);
  padding: 12px;
  position: relative;
  top: 100px; /* Element ko neeche move karega */
  width: 70vw;
  border-radius: 10px;
  min-height: 40px;
}
.playbar{
  width: calc(100vw - 60px);
}

.seekbar{
  width: calc(100vw - 70px);
}

.spotifyPlaylists {
  position: relative;
}
.songbuttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.songList ul {
  padding: 0 12px;
}
.songList ul li {
  list-style-type: decimal;
  display: flex;
  gap: 12px;
  cursor: pointer;
  padding: 12px 0;
  border: 1px solid white;
  margin: 12px 0;
  padding: 13px;
  border-radius: 5px;
  justify-content: space-between;
}
.playnow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.playnow span {
  font-size: 15px;
  width: 64px;
  padding: 12px;
}

.songList .info{
  font-size: 13px;
  width: 344px;
}
.songList{
  height: 544px;
  overflow: auto;
  margin-bottom: 44px 0;
}
.hamburger{
  display: none;
}

.hamburgerContainer{
  justify-content: center;
  align-items: center;
  gap: 14px;
  display: flex;
}

.seekbar{
  height: 4px;
  width: 98% ;
  background: black;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  margin: 6px;
  cursor: pointer;
}
.circle{
  width: 13px;
  height: 13px;
  border-radius: 13px;
  background-color: black;
  position: relative;
  bottom: 6px;
  left: 0%;
  transition: left 0.5s;
}
.songbuttons img{
  cursor: pointer;
}
.abovebar{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.songinfo, .songtime{
  color: black;
  padding: 0 12px;
}
@media (max-width: 1400px) {
  .left{
    position: absolute;
    left: -120%;
    transition: all .3s;
    z-index: 1;
    width: 373px;
    background-color: black;
    padding: 0;
  }
  .left .close{
    right: 31px;
    top: 25px;
    width: 29px;
    position: absolute;
  }
  .close{
    display: none;
  }
  .close{
    display: block;
  }
  
  .right{
    width: 100vw;
  }
  .playbar{
    width: 98vw;
  }
  .info div{
    word-break: break-all
  }
  
  .hamburger{
    display: block;
  }
}