.border{
  border: 2px solid red;
  margin: 3px;
}
.flex{
  display: flex;
}
.justify-center{
  justify-content: center;
}
.items-center{
  align-items: center;
}
.bg-black{
  background-color: black;
  color: white;
}
.invert{
  filter: invert(1)
}
.bg-grey{
  background-color: grey;
}
.rounded{
  border-radius: 7px;
}
.m-1{
  margin: 5px;
}
.p-1{
  padding: 10px;
}
/* Apply custom scrollbar styling */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #1c1c1c; /* Track background color */
}

::-webkit-scrollbar-thumb {
  background: #3a3a3a; /* Thumb (scroll handle) background color */
  border-radius: 6px; /* Rounded corners */
  border: 2px solid #1c1c1c; /* Border for thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #5c5c5c; /* Color when hovering over thumb */
}
